@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400; }

/*--------------------*/
/*BUTTON*/
/*SLIDER*/
/*CONTAINER*/
[class*="__container"] {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px; }

/*FONT*/
body {
  font-family: 'Lora', serif;
  font-size: 14px;
  color: #F7F7F7; }
  body.lock {
    overflow: hidden; }
  body::-webkit-scrollbar {
    width: 12px; }
  body::-webkit-scrollbar-track {
    background-color: #dd783f00; }
  body::-webkit-scrollbar-thumb {
    background-color: #817f83;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid;
    /* creates padding around scroll thumb */ }

/*WRAPPER*/
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%; }

/*BURGER*/
.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px; }
  .burger span {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 80%;
    height: 2px;
    border-radius: 13px;
    top: 10px;
    -webkit-transition: all, else, .3s;
    -o-transition: all, else, .3s;
    transition: all, else, .3s; }
  .burger:before, .burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 60%;
    height: 2px;
    border-radius: 13px;
    right: 0;
    -webkit-transition: all, else, 0.3s;
    -o-transition: all, else, 0.3s;
    transition: all, else, 0.3s; }
  .burger:after {
    top: 19px;
    width: 100%; }
  .burger.active:before {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .burger.active span {
    width: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all, else, 0s;
    -o-transition: all, else, 0s;
    transition: all, else, 0s; }
  .burger.active:after {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px; }

/*HEADER*/
.header {
  background-image: url("../assets/Background/IMAGE.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__top {
    padding: 28px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, -webkit-transform 0.8s;
    -o-transition: transform 0.8s, opacity 0.8s;
    transition: transform 0.8s, opacity 0.8s;
    transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
    z-index: 50; }
    .header__top._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
    .header__top-fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      padding: 20px 0px;
      background-color: #dd783f;
      -webkit-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s; }
      .header__top-fixed .nav__link:hover {
        color: #fff; }
      .header__top-fixed .logo:hover {
        color: #fff; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 103px 0 157px 0; }
  .header__title {
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
    .header__title._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .header__subtitle {
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 31px;
    -webkit-transform: translate(0px, 120%);
    -ms-transform: translate(0px, 120%);
    transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s; }
    .header__subtitle._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .header__link {
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px 31px;
    background: #DD783F;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0.6s;
    -o-transition: all 0.8s ease 0.6s;
    transition: all 0.8s ease 0.6s; }
    .header__link._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
    .header__link:hover {
      background: #c37448; }

.logo {
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF; }
  .logo:hover {
    color: #dd783f;
    text-shadow: 0px 0px 4px #000; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px; }

.nav__link {
  font-family: 'Oxygen';
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #FFFFFF; }
  .nav__link--font-size {
    font-size: 11px; }
  .nav__link:hover {
    color: #dd783f;
    text-shadow: 0px 0px 4px #000; }

.nav-adapt {
  display: none;
  z-index: 25; }
  .nav-adapt.active {
    top: 0; }
  .nav-adapt__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px; }
  .nav-adapt__link {
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF; }
    .nav-adapt__link--font-size {
      font-size: 11px; }
    .nav-adapt__link:hover {
      color: #dd783f;
      text-shadow: 0px 0px 4px #000; }

/*MAIN*/
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #ebebeb; }

.menu {
  padding: 22px 0px 23px 0px;
  background-color: #fff; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transform: translate(0px, 150%);
    -ms-transform: translate(0px, 150%);
    transform: translate(0px, 150%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0.8s;
    -o-transition: all 0.8s ease 0.8s;
    transition: all 0.8s ease 0.8s; }
    .menu__list._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .menu__link {
    line-height: 20px;
    text-align: center;
    color: #768088; }
    .menu__link:hover {
      color: #dd783f; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-family: Oxygen;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #2E2E2E;
  -webkit-transform: translate(0px, 50%);
  -ms-transform: translate(0px, 50%);
  transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s; }
  .title._active {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  .title:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 188px;
    top: 43px;
    background: #DEDEDE; }

.featured {
  margin-top: 60px; }
  .featured__content {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px; }
    .featured__content._active .featured__box {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .featured__box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
    -webkit-transform: translate(0px, 10%);
    -ms-transform: translate(0px, 10%);
    transform: translate(0px, 10%);
    opacity: 0;
    -webkit-transition: opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    transition: opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    -o-transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
    transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
    transition: transform 0.6s ease 0s, opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s; }
    .featured__box--sorting:after {
      content: 'Adventure';
      position: absolute;
      padding: 6px 9px 7px;
      background-color: #DD783F;
      border-radius: 2px;
      top: 20px;
      left: 20px;
      font-size: 12px;
      color: #FFFFFF;
      line-height: 13px;
      text-transform: uppercase; }
    .featured__box:hover {
      -webkit-transform: translate3d(0px, -6px, 3px);
      transform: translate3d(0px, -6px, 3px);
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
  .featured__box-img {
    border-radius: 3px;
    max-width: 100%; }
  .featured__box-text {
    position: absolute;
    top: 157px;
    left: 19px; }
  .featured__box-title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 6px;
    color: #FFF; }
  .featured__box-subtitle {
    font-family: 'Oxygen';
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 17px; }
  .featured__box-author {
    font-family: Oxygen;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .featured__box-author-img {
    margin-right: 11px;
    max-height: 26px; }
  .featured__box-author-name {
    margin-right: 215px; }
    .featured__box-author-name--margin-right {
      margin-right: 200px; }

.most-recent {
  margin-top: 67px;
  margin-bottom: 60px; }
  .most-recent__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
    margin-top: 39px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .most-recent__content._active .most-recent__card {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .most-recent__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 296px;
    background-color: #fff;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
    -webkit-transform: translate(0px, 10%);
    -ms-transform: translate(0px, 10%);
    transform: translate(0px, 10%);
    opacity: 0;
    -webkit-transition: opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    transition: opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
    -o-transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
    transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
    transition: transform 0.6s ease 0s, opacity 0.6s ease 0s, -webkit-transform 0.6s ease 0s; }
    .most-recent__card:hover {
      -webkit-transform: translate3d(0px, -10px, 3px);
      transform: translate3d(0px, -10px, 3px);
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
  .most-recent__card-img {
    max-width: 100%; }
  .most-recent__card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 14px 0 0 13px;
    gap: 6px; }
  .most-recent__card-title {
    font-family: Lora;
    font-size: 16px;
    line-height: 21px;
    color: #101315; }
  .most-recent__card-subtitle {
    font-family: Oxygen;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A; }
  .most-recent__card-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 33px;
    padding: 7px 13px;
    border-top: 1px solid #EFEFEF;
    background-color: #FCFCFC;
    font-family: Oxygen;
    font-size: 11px;
    line-height: 35px;
    color: #999999; }
  .most-recent__card-author-img {
    margin-right: 10px; }
  .most-recent__card-author-name {
    margin-right: 100px; }
  .most-recent__card-author-date {
    font-size: 12px; }

/*FOOTER*/
.footer {
  background-image: url("../assets/Background/footer-img.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 82px 0px 90px; }
  .footer__title {
    position: relative;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF;
    -webkit-transform: translate(0px, 20%);
    -ms-transform: translate(0px, 20%);
    transform: translate(0px, 20%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .footer__title._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
    .footer__title:before {
      content: '';
      position: absolute;
      top: 46px;
      left: -15px;
      width: 188px;
      height: 1px;
      background-color: #DEDEDE; }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0px, 20%);
    -ms-transform: translate(0px, 20%);
    transform: translate(0px, 20%);
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
    .footer__form._active {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 1; }
  .footer__input {
    width: 375px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    padding: 18px 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #817F83; }
  .footer__button {
    width: 125px;
    height: 50px;
    padding: 18px 43px 18px 44px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8; }
